{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
    <div class="container">
    
        <h3 style="text-align: center;">VOTRE PANIER</h3>
        <div class="container-cart">
            <section class="table">
                <div class="table-head">
                    <div>Désignation</div>
                    <div>Prix /J</div>
                    <div>Jour(s)</div>
                    <div>Sous-total</div>
                    <div><img class="icons" src="{{ asset('images/images_site/svg_icons/trash.svg') }}" alt=""></div>
                </div>

                <div>
                    {% for element in data %}
                        <div class="table-body">
                            <div class="table-img">
                                <img src="{{ asset('images/voyages/' ~ element.voyage.getImages()[0].name) }}" alt="Voyage Image">
                            </div>
                            <div>
                                {{ element.voyage.title }}, {{ element.voyage.city }}, {{ element.voyage.country }}                  
                            </div>
                            <div>{{ element.voyage.price }} €</div>
                            <div class="td-quantity">
                                <a href="{{ path('cart_remove', {'id': element.voyage.id}) }}">-</a>
                                {{ element.quantity }}
                                <a href="{{ path('cart_add', {'id': element.voyage.id}) }}">+</a>
                            </div>
                            <div>
                                {{ element.quantity * element.voyage.price }} €            
                            </div>
                            <div>
                                <a href="{{ path('cart_delete', {'id': element.voyage.id}) }}">
                                    <img class="icons-cart" src="{{ asset('images/images_site/svg_icons/cross.svg') }}" alt="">
                                </a>
                            </div>
                        </div>
                    {# {% else %} #}
                    {% endfor %}
                </div>
                
                </table>
            </section>
            <section class="price-cart">
                <p>TOTAL TTC</p>
                <p class="total-price">{{ total }} €</p>
                <a href="{{ path('orders_app_order_new') }}">PASSER COMMANDE</a>

            </section>
        </div>
    
    </div>
{% endblock %}
