{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
    <div class="container">
    
        <h3 style="text-align: center;">VOTRE PANIER</h3>
        <div class="container-cart">
            <section class="table">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>DESIGNATION</th>
                            <th>PRIX /J</th>
                            <th>JOUR(S)</th>
                            <th>SOUS-TOTAL</th>
                            <th><img class="icons" src="{{ asset('images/images_site/svg_icons/trash.svg') }}" alt=""></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for element in data %}
                            <tr>
                                <td class="td-img">
                                    <img src="{{ asset('images/voyages/' ~ element.voyage.getImages()[0].name) }}" alt="Voyage Image">
                                </td>
                                <td>
                                    {{ element.voyage.title }}, {{ element.voyage.city }}, {{ element.voyage.country }}                  
                                </td>
                                <td>{{ element.voyage.price }} €</td>
                                <td class="td-quantity">
                                    <a href="{{ path('cart_remove', {'id': element.voyage.id}) }}">-</a>
                                    {{ element.quantity }}
                                    <a href="{{ path('cart_add', {'id': element.voyage.id}) }}">+</a>
                                </td>
                                <td>
                                    {{ element.quantity * element.voyage.price }} €            
                                </td>
                                <td>
                                    <a href="{{ path('cart_delete', {'id': element.voyage.id}) }}">
                                        <img class="icons-cart" src="{{ asset('images/images_site/svg_icons/cross.svg') }}" alt="">
                                    </a>
                                </td>
                            </tr>
                        {# {% else %} #}
                        {% endfor %}
                    </tbody>
                
                </table>
            </section>
            <section class="price-cart">
                <p>TOTAL TTC</p>
                <p class="total-price">{{ total }} €</p>
                <a href="{{ path('orders_app_order_new') }}">PASSER COMMANDE</a>

            </section>
        </div>
    
    </div>
{% endblock %}
