{% extends 'base.html.twig' %}

{% block title %}BillingAdresse index{% endblock %}

{% block body %}
    <h1>BillingAdresse index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>City</th>
                <th>Postal_code</th>
                <th>Full_name</th>
                <th>Phone_number</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for billing_adresse in billing_adresses %}
            <tr>
                <td>{{ billing_adresse.id }}</td>
                <td>{{ billing_adresse.city }}</td>
                <td>{{ billing_adresse.postalCode }}</td>
                <td>{{ billing_adresse.fullName }}</td>
                <td>{{ billing_adresse.phoneNumber }}</td>
                <td>
                    <a href="{{ path('app_billing_adresse_show', {'id': billing_adresse.id}) }}">show</a>
                    <a href="{{ path('app_billing_adresse_edit', {'id': billing_adresse.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_billing_adresse_new') }}">Create new</a>
{% endblock %}
