{% extends 'base.html.twig' %}

{% block title %}BillingAdresse{% endblock %}

{% block body %}
    <h1>BillingAdresse</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ billing_adresse.id }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ billing_adresse.city }}</td>
            </tr>
            <tr>
                <th>Postal_code</th>
                <td>{{ billing_adresse.postalCode }}</td>
            </tr>
            <tr>
                <th>Full_name</th>
                <td>{{ billing_adresse.fullName }}</td>
            </tr>
            <tr>
                <th>Phone_number</th>
                <td>{{ billing_adresse.phoneNumber }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_billing_adresse_index') }}">back to list</a>

    <a href="{{ path('app_billing_adresse_edit', {'id': billing_adresse.id}) }}">edit</a>

    {{ include('billing_adresse/_delete_form.html.twig') }}
{% endblock %}
