<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Bienvenue
			{% endblock %}
		</title>
		<link
		rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
		<!-- Make sure you put this AFTER Leaflet's CSS -->
		<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
		<link rel="icon" type="image/jpg" href="{{ asset('favicon.ico') }}">

		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('styles/styles.css') }}">
		{% endblock %}

	</head>
	<body>
		<div class="body-container">
		
			{% block nav %}
				<nav>
					<a href="{{ path('app_voyage_index') }}">
						<div class="logo">
							<img src="{{ asset('images/images_site/logov1.svg') }}" alt="logo globebox">
							<h2>GlobeBox.fr</h2>
						</div>
					</a>

					<div class="right-nav">
						<a href="{{ path('app_contact') }}" class="contact">
							<div class="circle">
								<img src="{{ asset('images/images_site/svg_icons/phone.svg') }}" alt="icone telephone">
							</div>

							<div class="text">
								<p>CONTACT</p>
							</div>
						</a>

						<a href="{{ path('cart_index') }}" class="cart">
							<div class="circle">
								<img src="{{ asset('images/images_site/svg_icons/cart-shopping.svg') }}" alt="icone panier">
							</div>

							<div class="text">
								<p>PANIER</p>
							</div>
						</a>

						<div class="account">
							<div class="circle">
								<img src="{{ asset('images/images_site/svg_icons/user.svg') }}" alt="icone utilisateur">
							</div>

							<div class="chevron">
								<img src="{{ asset('images/images_site/svg_icons/chevron-down.svg') }}" alt="icone chevron vers le bas">
							</div>

							<div class="dropdown none">
								{% if app.user %}
									{# <span>Profil</span> #}
									<a href="{{ path('app_logout') }}"><span>Déconnexion</span></a>
									<a href="{{ path('orders_index') }}"><span>Commandes</span></a>
								{% else %}
									<a href="{{ path('app_login') }}"><span>Connexion</span></a>
									<a href="{{ path('app_register') }}"><span>Inscription</span></a>
								{% endif %}

							</div>
						</div>
					</div>
				</nav>

				{% for type, messages in app.flashes %}
					{% for message in messages %}
						<div class="alert">
							{{ message }}
							{# <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente facilis aperiam, doloribus minus iste reiciendis totam fugit temporibus asperiores omnis!</p> #}
						</div>
					{% endfor %}
				{% endfor %}

				<section id="cancel-blur" class="none"></section>

				<script src="{{ asset('js/nav-dropdown.js') }}"></script>
			{% endblock %}

			{% block body %}{% endblock %}

			{% block footer %}
				<footer>
					<section>
						<div class="logo">
							<img src="{{ asset('images/images_site/logov1.svg') }}" alt="logo globebox">
							<span>GlobeBox.fr</span>
						</div>

						<div class="reseaux">
							<span>Réseaux</span>
							<ul>
								<li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank"><img src="{{ asset('images/images_site/logo_reseaux/youtube.png') }}" alt="icone youtube">Youtube</a></li>
								<li><a href="https://www.snapchat.com/" target="_blank"><img src="{{ asset('images/images_site/logo_reseaux/snapchat.webp') }}" alt="icone snapchat" >Snapchat</a></li>
								<li><a href="https://www.tiktok.com/login?lang=fr&redirect_url=https%3A%2F%2Fwww.tiktok.com%2Fupload%3Flang%3Dfr" target="_blank"><img src="{{ asset('images/images_site/logo_reseaux/tiktok.png') }}" alt="icone tiktok" class="invert">TikTok</a></li>
								<li><a href="https://www.instagram.com/" target="_blank"><img src="{{ asset('images/images_site/logo_reseaux/instagram.png') }}" alt="icone instagram" class="invert">Instagram</a></li>
							</ul>
						</div>

						<div class="pages">
							<span>Navigations</span>
							<ul>
								<li><a href="{{ path('app_voyage_index') }}">Voyages</a></li>
								<li><a href="{{ path('app_login') }}">Connexion</a></li>
								<li><a href="{{ path('app_register') }}">Inscription</a></li>
								<li><a href="{{ path('app_contact') }}">Contact</a></li>
								<li><a href="{{ path('app_legal_notice') }}">Mention légales</a></li>
							</ul>
						</div>
					</section>

					<div>
						<p>Copyright© GlobeBox.fr vente de voyages. Tous droits réservés. </p>
					</div>
				</footer>
			{% endblock %}


			{% block javascripts %}{% endblock %}
		</div>
	</body>
</html>
