{% extends 'base.html.twig' %}

{% block title %}Voyages
{% endblock %}

{% block body %}

	<div class="index">
		<div class="cards">
			<h1>Liste des voyages</h1>

			{% for voyage in voyages %}
				<a href="{{ path('app_voyage_show', {'id': voyage.id}) }}" class="a-card" data-lat="{{ voyage.latitude }}" data-long="{{ voyage.longitude }}" data-price="{{ voyage.price }}" data-id="{{ voyage.id }}">
					<section class="card">
						<div class="img">
							<img src="{{ asset('images/voyages/' ~ voyage.getImages()[0].name) }}" alt="">
							<img src="{{ asset('images/voyages/' ~ voyage.getImages()[1].name) }}" alt="" class="img_more">
							<img src="{{ asset('images/voyages/' ~ voyage.getImages()[2].name) }}" alt="" class="img_more">
							<img src="{{ asset('images/voyages/' ~ voyage.getImages()[3].name) }}" alt="" class="img_more">
							<img src="{{ asset('images/voyages/' ~ voyage.getImages()[4].name) }}" alt="" class="img_more">
						</div>

						<div class="infos">
							<div>
								<span class="ville">{{ voyage.city }}, {{ voyage.country }}</span>
								<h2>{{ voyage.title }}</h2>
							</div>

							<div>
								<p>{{ voyage.littledesc }}</p>
							</div>

							<div>
								{% set nbInfos = 0 %}
								{# affichage sous conditions des "infos" de chaque voyage #}
								{% if voyage.parking and nbInfos < 3 %}
									{% set nbInfos = nbInfos + 1 %}
									<div class="info">
										<img src="{{ asset('images/images_site/svg_icons/P-parking.svg') }}" alt="">
										<span>Parking</span>
									</div>
								{% endif %}
								{% if voyage.freewifi and nbInfos < 3  %}
									{% set nbInfos = nbInfos + 1 %}
									<div class="info">
										<img src="{{ asset('images/images_site/svg_icons/wifi.svg') }}" alt="">
										<span>Wifi gratuit</span>
									</div>
								{% endif %}
								{% if voyage.pool and nbInfos < 3  %}
									{% set nbInfos = nbInfos + 1 %}
									<div class="info">
										<img src="{{ asset('images/images_site/svg_icons/pool-water.svg') }}" alt="">
										<span>Piscine</span>
									</div>
								{% endif %}
								{% if voyage.petsaccept and nbInfos < 3  %}
									{% set nbInfos = nbInfos + 1 %}
									<div class="info">
										<img src="{{ asset('images/images_site/svg_icons/dog-face.svg') }}" alt="">
										<span>Animaux accepté</span>
									</div>
								{% endif %}
							</div>
						</div>

						<div class="price">
							<span>{{ voyage.price }} €</span>
						</div>
					</section>
				</a>
			{% endfor %}
		</div>

		<div class="map" id="map"></div>
	</div>

{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/carte-script.js') }}"></script>
{% endblock %}
