{% extends 'base.html.twig' %}

{% block title %}Voyage{% endblock %}

{% block body %}
    <h1>Voyage</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ voyage.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ voyage.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ voyage.description }}</td>
            </tr>
            <tr>
                <th>ImageFile</th>
                {# <td>{{ voyage.imageFile }}</td> #}
                <td>
                    {% for image in voyage.images %}
                        <img style="max-width:150px" src="{{ asset('images/voyages/' ~ image.name) }}" alt="Voyage Image">
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_voyage_index') }}">back to list</a>

    <a href="{{ path('app_voyage_edit', {'id': voyage.id}) }}">edit</a>

    {{ include('voyage/_delete_form.html.twig') }}
{% endblock %}
